*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.margint{
    margin-top: 120px;
}
.top-bar{
    background-color: #074575;
    color: #fff;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.top-bar ul li{
    float: left;
    padding-left: 20px;
}
.top-bar ul li a{
    color: #fff;
    transition: color 0.5s ease-in-out;
}
.top-bar ul li:hover a{
color: #0b8ef3;
}

.main-nav ul{
    overflow: hidden;
}
.main-nav ul li{
   
    padding-left: 20px;
    padding-right:20px ;
    
}
.main-nav ul li a{
    color: #074575;
    font-weight: bold;
    transition: color 0.5s ease-in-out;
}
.main-nav ul li:hover a{
    color: #0b8ef3;
    text-decoration: none;
}

.main-nav .icons i:last-of-type{
    position: relative;
    top: -5px;
    left: 0;
    display: inline-block;
    width: 30px;
    height: 3px;
    background: #074575;
    cursor: pointer;
}
.main-nav .icons i:last-of-type::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    bottom:-9px;
    background: #074575;
    cursor: pointer;
    
}
.main-nav .icons i:last-of-type::before{
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    top:-9px;
    background: #074575;
    cursor: pointer;
}
.main-nav i{
    font-size: 22px;
}
.search{
    padding: 20px 10px;
    background-color: rgb(209, 228, 201);
    width: 250px;
    height: 100px;
    right:25%;
    position: absolute;
    text-align: center;
    display: none;
    z-index: 100;
}
.search i{
    position: absolute;
    right: 10px;
    top: 2px; 
    cursor: pointer;
}
.search input{
    margin-top: 10px;
    border: 1px solid rgb(184, 174, 174);
    outline: none;
}
.toggle-nav ul li{
    border-top:1px solid #ddd;
}
.toggle-icons{
    display: none;
}
.toggle-nav{
    display: none;
    overflow: hidden;
}
@media (max-width: 1000px) { 
    .nav-right{
        display: none;
    }
    .toggle-icons{
        display: block;
    }
    
 }

 /* end navbar */

 /* start header */
.header{
    background-image: url(../img/lab-page-title.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 50vh;
}

.header .page{
    width: 100%;
    text-align: center;
}
.header .current-page{
    width: 100%;
    text-align: center;
}

.header .page{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.header .current-page{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.header .page h2{
    color: #fff;
    font-size: 40px;
    font-weight: bold;
}
.header .current-page span {
    padding: 10px 20px;
}
.header .current-page span a{
    text-decoration: none;
    color: #bbb;
}

.header i,.header .current-page .current{
    color: #fff;
}



.info i{
    font-size: 30px;
    color: #0b8ef3;
}
.info h4{
    color: #074575;
    font-size: 22px;
    font-weight: bold;
}
.info p{
    color: #777;
}

.info a{
    text-decoration: none;
    color: #0b8ef3;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    position: relative;
    transition: all 0.5s ease-in-out;
}
.info  .Card-link{
    overflow: hidden;
    width: 180px;
}
.info  a::after{
    content: "";
    background-color: #0b8ef3;
    width: 100%;
    height: 1.5px;
    position: absolute;
    top: 101%;
    left: -100%;
    transition: all 0.5s ease-in-out;
}
.info  .Card-link:hover a::after{
    left: 0;
}

.drop-aline h2{
    color: #074575;
    font-size: 30px;
    font-weight: bold;
    
}


.drop-aline .txt p{
    width: 80%;
    margin: 0 auto;
    color: #777;
}

.f-R{
    position: relative;
    margin: 20px auto;
    width: 90%;
    
}


.forma label{
    position: absolute;
    color: #074575;
    font-weight: bold;
    font-size: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    
}
.forma label::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
}
.forma div:last-of-type label{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;

}
.forma input{
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    padding-top: 30px;
    outline: none;
    border: none;
    border-bottom: 2px solid #ddd;
    
}

.forma label .label-name{
    position: absolute;
    top: 40%;
    left: 5%;
    transition: transform 0.5s ease-in-out;
}
.forma div:last-of-type label .label-name{
    left: 5%;
    top: 20%;
}
.forma input:focus + label .label-name,.forma textarea:focus + label .label-name,.forma input:valid+label .label-name,.forma textarea:valid + label .label-name{
    transform: translateY(-100%);
}

.forma input:focus,.forma textarea:focus{
    border-bottom: 2px solid #0b8ef3;
}
.forma textarea{
    width: 100%;
    height: 140px;
    outline: none;
    padding: 10px 20px;
    padding-top: 30px;
    border: none;
    border-bottom: 2px solid #ddd;
}

.forma button{
    background-color: #0b8ef3;
    color: #fff;
    font-weight: bold;
    text-align: center;
    width: 80%;
    margin: 20px 10% 20px 10%;
    border: none;
    outline: none;
    padding: 10px 20px ;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
    
}

.forma button:hover{
    transform: scale(1.2);
}


.footer{
    background-image: url(../img/clariwell-footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    color: #777;
}
.footer h4{
    color: #074575;
    font-weight: bold;
    margin-bottom: 30px;
}
.footer ul li{
    margin-bottom: 10px;
}
.footer ul li i{
    margin-right: 5px;
}
.footer ul li a{
    text-decoration: none;
    color: #777;
    transition: color 0.3s ease-in-out;
}
.footer ul li a:hover{
    color: #0b8ef3;
}

.footer .icons i{
    font-size: 26px;
    margin-left: 5px;
    cursor: pointer;
}

.footer .icons .fa-facebook-square{
    color: #074575;
}
.footer .icons .fa-twitter-square{
    color: #0b8ef3;
}
.footer .icons .fa-linkedin{
    color: #074575;
}
.footer .icons .fa-instagram-square{
    color: #074575;
}

.bottomEnd{
    background-color: #074575;
    padding: 20px 0;
    color: #fff;
    font-weight: 630;

}